@model Universidad.Models.Persona
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Edit";
}

@if (User.IsInRole("Admin"))
{
    <h1>Edit</h1>

    <h4>Persona</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdPersona" />
                <div class="form-group">
                    <label asp-for="Matricula" class="control-label"></label>
                    <input asp-for="Matricula" class="form-control" />
                    <span asp-validation-for="Matricula" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Edad" class="control-label"></label>
                    <input asp-for="Edad" class="form-control" />
                    <span asp-validation-for="Edad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Genero" class="control-label"></label>
                    <input asp-for="Genero" class="form-control" />
                    <span asp-validation-for="Genero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cedula" class="control-label"></label>
                    <input asp-for="Cedula" class="form-control" />
                    <span asp-validation-for="Cedula" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Correo" class="control-label"></label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumCelular" class="control-label"></label>
                    <input asp-for="NumCelular" class="form-control" />
                    <span asp-validation-for="NumCelular" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumTelefono" class="control-label"></label>
                    <input asp-for="NumTelefono" class="form-control" />
                    <span asp-validation-for="NumTelefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
    @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}
else
{
    <div class="pagetitle d-flex justify-content-between">
        <div>
            <h1>People</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/People">People</a></li>
                    <li class="breadcrumb-item active">Edit</li>
                </ol>
            </nav>
        </div>
    </div>

    <!-- End Page Title -->
    <div class="d-flex align-items-center justify-content-center" style="height: 70vh;">
        <h1 class="text-danger text-center fw-bold display-1">Access Denied</h1>
    </div>
}