@{
    ViewData["Title"] = "Home Page";
}

<div class="pagetitle">
    <h1>Details</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">@*@User.Indenity?*@</a></li>
            <li class="breadcrumb-item active">Profile</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    <img src="~/img/apple-touch-icon.png" alt="Profile" class="rounded-circle">
                    <h2>@User.Identity?.Name</h2>
                    <h3>@*@User.Identity?.Ocupation*@</h3>
                </div>
            </div>

        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Contact Profile</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <h5 class="card-title">About</h5>
                            <p class="small fst-italic">@*@User.Identity.Description*@ Description </p>

                            <h5 class="card-title">Profile Details</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Tuition</div>
                                <div class="col-lg-9 col-md-8">@*@User.Identity.tuition*@</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Name</div>
                                <div class="col-lg-9 col-md-8">@*@User.Identity.Name*@</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Last Name</div>
                                <div class="col-lg-9 col-md-8">@*@User.Identity.lastName*@</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Gender</div>
                                <div class="col-lg-9 col-md-8">@*@User.Identity.gender*@</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Age</div>
                                <div class="col-lg-9 col-md-8">@*@User.Identity.Age*@</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">ID card</div>
                                <div class="col-lg-9 col-md-8">@*@User.Identity.id*@</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <div class="col-lg-9 col-md-8">@*@User.Identity.email*@</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Phone number</div>
                                <div class="col-lg-9 col-md-8">@*@User.Identity.phone*@</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Address</div>
                                <div class="col-lg-9 col-md-8">@*@User.Identity.address*@</div>
                            </div>

                        </div>

                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                            <!-- Profile Edit Form -->

                            <div class="row mb-3">
                                <label for="company" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                <div class="col-md-8 col-lg-9">
                                    @*@User.Identity.email*@
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="about" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                                <div class="col-md-8 col-lg-9">
                                    @*@User.Identity.phone*@
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="about" class="col-md-4 col-lg-3 col-form-label">Home Phone</label>
                                <div class="col-md-8 col-lg-9">
                                    @*@User.Identity.homePhone*@
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Address</label>
                                <div class="col-md-8 col-lg-9">
                                    @*@User.Identity.address*@
                                </div>
                            </div>
                            <!-- End Profile Edit Form -->
                        </div>
                        <!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>