@{
    ViewData["Title"] = "Home Page";
}

<div class="pagetitle">
    <h1>Faculties</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Faculties</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="card-body">
    <h5 class="card-title">Economic and Business Sciences</h5>

    <!-- Table with stripped rows -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Careers</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Licenciatura en Administración de Empresas</td>
               
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Licenciatura en Contabilidad</td>
               
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Licenciatura en Mercadotecnia</td>
                
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Licenciatura en Negocios Internacionales</td>
                
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Licenciatura en Finanzas</td>
                
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Licenciatura en Administración Turística y Hotelera</td>

            </tr>
        </tbody>
    </table>
    <!-- End Table with stripped rows -->

</div>

<div class="card-body">
    <h5 class="card-title">Enginnering and Computer Science</h5>

    <!-- Table with stripped rows -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Careers</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Ingeniería de Sistemas de Computación</td>
               
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Ingeniería de Software</td>
                
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Ingeniería Industrial</td>
                
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Ingeniería Eléctrica, Mención Potencia</td>
               
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Ingeniería Electrónica, Mención Comunicaciones</td>
                
            </tr>
        </tbody>
    </table>
    <!-- End Table with stripped rows -->

</div>
<div class="card-body">
    <h5 class="card-title">Law</h5>

    <!-- Table with stripped rows -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Careers</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Licenciatura en Derecho</td>
                
            </tr>
            
        </tbody>
    </table>
    <!-- End Table with stripped rows -->

</div>
<div class="card-body">
    <h5 class="card-title">Art and Comunication</h5>

    <!-- Table with stripped rows -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Careers</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Licenciatura en Diseño Gráfico</td>
               
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Licenciatura en Publicidad</td>
               
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Licenciatura en Diseño de Interiores</td>
               
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Licenciatura en Comunicación Digital</td>
               
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Licenciatura en Cinematografía</td>
               
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Licenciatura en Comunicación y Periodismo Multiplataforma</td>

            </tr>
        </tbody>
    </table>
    <!-- End Table with stripped rows -->

</div>
<div class="card-body">
    <h5 class="card-title">General Studies</h5>

    <!-- Table with stripped rows -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Careers</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Licenciatura en Inglés Orientada a la Enseñanza</td>

            </tr>
        </tbody>
    </table>
    <!-- End Table with stripped rows -->

</div>
