@{
    ViewData["Title"] = "Home Page";
}

<div class="pagetitle">
    <h1>Frequently Asked Questions</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Pages</li>
            <li class="breadcrumb-item active">Frequently Asked Questions</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section faq">
    <div class="row">
        <div class="col-lg-6">

            <div class="card basic">
                <div class="card-body">
                    <h5 class="card-title">Basic Questions</h5>

                    <div>
                        <h6>1. What are the steps to start the admission process?</h6>
                        <p>
                            The steps to apply for admission are as follows:

                            Complete the following admission form. https://admisiones.jilcy.edu.do/formularioadmision
                            Deposit your documents at the main campus Av. Máximo Gómez. #78 https://admisiones.jilcy.edu.do/requisitosadmision
                            Pay the admission fee for undergraduate (RD$ 1,200.00) and graduate (RD$ 2,500).
                            Take the entrance exams.
                            Afterwards, you will receive an email notifying you if you have been admitted or not.
                        </p>
                    </div>

                    <div class="pt-2">
                        <h6>2. How should I submit the documents for the admission process?</h6>
                        <p>The documents must be delivered physically, original and complete at the main campus of the Máximo Gomez, Administrative Building, Multipurpose Room Cristóbal Tejeda from Monday to Friday from 9:00 a.m. to 6:00 p.m. and Saturdays from 9:00 a.m. to 1:00 p.m. If it is an online Master's Degree, upload your documents to the platform and deliver them physically to formalize your admission.</p>
                    </div>

                    <div class="pt-2">
                        <h6>3. I applied for admission as a transfer, how will the validations be applied to me? </h6>
                        <p>
                            Transfer students must deposit all their documents in our facilities, including their university transcript legalized by the MESCyT and a bound compendium (with the programs of the subjects approved in the institution of origin signed and sealed).

                            Upon completion of the verification process, you will be contacted by mail with information on which courses can be validated and when they will be validated at the time of enrollment.
                        </p>
                    </div>

                </div>
            </div>

            <!-- F.A.Q Group 1 -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Admissions and payments</h5>

                    <div class="accordion accordion-flush" id="faq-group-1">

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" data-bs-target="#faqsOne-1" type="button" data-bs-toggle="collapse">
                                    Is there an age limit for enrollment in degree or technical programs?
                                </button>
                            </h2>
                            <div id="faqsOne-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                                <div class="accordion-body">
                                    No, there is no age limit for admission to any of the undergraduate or technical programs. If you pass the admission requirements both in terms of documents and the assigned tests, you will be linked as a JILCY student.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" data-bs-target="#faqsOne-2" type="button" data-bs-toggle="collapse">
                                    What admission tests must you take to enter a career?
                                </button>
                            </h2>
                            <div id="faqsOne-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                                <div class="accordion-body">
                                    Grade:

                                    POMA: (Prueba de Orientación y Medición Académica), an initial diagnostic test of orientation and measurement, which will be the responsibility of MESCyT and will have a mandatory character for all those who want to enter higher education. The POMA evaluates the academic intelligence of students applying for university studies in the Dominican Republic.

                                    Basic Engineering Cycle: This test helps us to measure the knowledge you have acquired in physics, mathematics and other disciplines related to the engineering area.

                                    PAA: is a test that evaluates the skills and knowledge necessary to do academic work at the university level (Education majors are the only ones to take this test, knowing that it can only be taken twice. Expect a lapse of three (3) months between tests).

                                    ENGLISH PROFICIENCY EXEMPTION TEST.

                                    Graduate:

                                    Leveling Course or Interview.

                                    This is a pre-course that consists of measuring the knowledge you have acquired in the areas in which the program of study is focused. In addition, it helps you to reinforce the points in which you have weaknesses or lack of knowledge. It has a duration of 40 hours and it is usually given during one week, at night.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" data-bs-target="#faqsOne-3" type="button" data-bs-toggle="collapse">
                                    How do I find out if I am admitted?
                                </button>
                            </h2>
                            <div id="faqsOne-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                                <div class="accordion-body">
                                    After taking your admission exams, the University will notify you of the status of your application within a stipulated period of time, no more than four weeks. All information regarding the application process will be sent to you via email, so please be aware of it.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" data-bs-target="#faqsOne-4" type="button" data-bs-toggle="collapse">
                                    After I am admitted, how and when do I apply?
                                </button>
                            </h2>
                            <div id="faqsOne-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                                <div class="accordion-body">
                                    The University makes a pre-selection of the first term of your subjects. You must confirm it in BANNER, the day and time stipulated. Below we detail the steps on how to do it:

                                    After being admitted you will be assigned an institutional email, with which you must set the password in our system at the following link. UNAPEC - Password Recovery
                                    Once you have configured your username and password, you must enter and select your payment method and type of invoice.
                                    See the following instructions instructivo-configuraciones-de-pago-20222.pdf (jilcy.edu.do)

                                    PAYMENT METHOD NO.1: Total payment: 10% discount on the total credits selected. The student pays 90% of the credits plus Registration, Technological Resources and Card Services.
                                    FORM OF PAYMENT NO.2: The student pays an advance payment of 30% of the selected credits plus Inscription, Technological Resources and Card Services. The 70% of the cost of the credits is deferred in 3 monthly installments plus a 10% administrative fee for deferred payment.
                                    FORM OF PAYMENT NO.3: The student pays an advance payment of 20% of the selected credits plus Registration, Technological Resources and Card Services. 80% of the cost of the credits are deferred in 3 monthly installments plus a 10% administrative fee for deferred payment.
                                    The most popular types of invoices are:

                                    Final Consumer
                                    Tax Credit
                                    Governmental
                                    Special Voucher (normally used in free trade zones).
                                    Note: You must be registered with the DGII to be able to request certain invoices.

                                    Once you have configured your user, password, form of payment and type of invoice, you must enter your BANNER self-service. BANNER UNAPEC
                                    In the box on the left, you will select the Enrollment, Schedule and Planning options. To view the schedules just select it (☑).
                                    Then choose enroll in classes and define the enrollment period and your career.
                                    You will see the pre-selected subjects, if you agree, click on the submit (confirm) button at the bottom of the screen.
                                    If everything is in order, you can make the payment twenty four (24) hours after accepting the selection. We remind you that after you have made the payment, you will not be able to make any modifications, except for adding subjects, and you will be informed of the date when you will be able to do so. This will be possible as long.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" data-bs-target="#faqsOne-5" type="button" data-bs-toggle="collapse">
                                    What forms of payment does the University have available?
                                </button>
                            </h2>
                            <div id="faqsOne-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                                <div class="accordion-body">
                                    JILCY University (JILCY) has different means for the student (of the University, the Language School or Continuing Education) to pay for services in a fast, efficient and safe way. The payment made by one of the indicated means is applied to your account in real time.

                                    Online Payment Login - JILCY
                                    TPAGO Pagatodo > Top
                                    Popular Bank
                                    Pagatodo
                                    BHD Leon Bank
                                    Caja JILCY
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div><!-- End F.A.Q Group 1 -->

        </div>

        <div class="col-lg-6">

            <!-- F.A.Q Group 2 -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Deserunt ut unde corporis</h5>

                    <div class="accordion accordion-flush" id="faq-group-2">

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" data-bs-target="#faqsTwo-1" type="button" data-bs-toggle="collapse">
                                    How can I return to the University if I only did my admission process?
                                </button>
                            </h2>
                            <div id="faqsTwo-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                                <div class="accordion-body">
                                    You must make a reinstatement of applicant, for this procedure, you must go to the CENSE, located in the Multipurpose Room of Campus I, Dr. Nicolas Pichardo, JILCY, at the admissions desk, it has a cost of RD$800.00 pesos non-refundable.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" data-bs-target="#faqsTwo-2" type="button" data-bs-toggle="collapse">
                                    What happens if I am not admitted?
                                </button>
                            </h2>
                            <div id="faqsTwo-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                                <div class="accordion-body">
                                    The applicant must request an appointment with the Dirección de Bienestar Universitario to obtain more detailed information about the result obtained (Citas JILCY). You can reapply to the admission process within three months (3); by indications of the MESCyT is the time you must wait to take the POMA again. If you do not wish to wait, you can pick up your documents at the admissions window by bringing your delivery control and a copy of your ID card.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" data-bs-target="#faqsTwo-3" type="button" data-bs-toggle="collapse">
                                    Do I have to take all the admission tests to be admitted?
                                </button>
                            </h2>
                            <div id="faqsTwo-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                                <div class="accordion-body">
                                    Yes, you must not miss any test registered in your admission process. If for reasons beyond your control, you must come to reschedule and pay for it in order to be admitted.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" data-bs-target="#faqsTwo-4" type="button" data-bs-toggle="collapse">
                                    Does JILCY offer scholarship programs?
                                </button>
                            </h2>
                            <div id="faqsTwo-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                                <div class="accordion-body">
                                    You should go to the Directorate of University Welfare, in person at the building five (5) first level, end of the hallway, Main Campus, or call them at 809-686-0021 Ext. 2264.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" data-bs-target="#faqsTwo-5" type="button" data-bs-toggle="collapse">
                                    If I am a new entrant, studied and finished at the Language School, do I have to take the English placement test of the entrance exams?
                                </button>
                            </h2>
                            <div id="faqsTwo-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                                <div class="accordion-body">
                                    No, you do not have to register, but in the first quarter you must go to the School of Languages and fill out the validation form to be sent to the Registrar's Office to exempt the English levels that apply to your curriculum.   Perspiciatis voluptatem voluptatem eos. Vel aut minus labore at rerum eos.
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div><!-- End F.A.Q Group 2 -->
            <!-- F.A.Q Group 3 -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Titulaciones y Docencia</h5>

                    <div class="accordion accordion-flush" id="faq-group-3">

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" data-bs-target="#faqsThree-1" type="button" data-bs-toggle="collapse">
                                    How many locations does JILCY offer undergraduate and graduate programs?
                                </button>
                            </h2>
                            <div id="faqsThree-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                                <div class="accordion-body">
                                    So far we only have the main campus at Máximo Gomez.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" data-bs-target="#faqsThree-2" type="button" data-bs-toggle="collapse">
                                    Consequatur saepe explicabo odio atque nisi?
                                </button>
                            </h2>
                            <div id="faqsThree-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                                <div class="accordion-body">
                                    In minus quia impedit est quas deserunt deserunt et. Nulla non quo dolores minima fugiat aut saepe aut inventore. Qui nesciunt odio officia beatae iusto sed voluptatem possimus quas. Officia vitae sit voluptatem nostrum a.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" data-bs-target="#faqsThree-3" type="button" data-bs-toggle="collapse">
                                    I need the budget for my career of interest
                                </button>
                            </h2>
                            <div id="faqsThree-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                                <div class="accordion-body">
                                    To obtain a race quote you should contact the accounts receivable department at 809-686-0021 Ext. 2361, 2233.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" data-bs-target="#faqsThree-4" type="button" data-bs-toggle="collapse">
                                    What is the International Double Degree?
                                </button>
                            </h2>
                            <div id="faqsThree-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                                <div class="accordion-body">
                                    JILCY University, (JILCY) brings to the country the BACHELOR OF SCIENCE IN BUSINESS MANAGEMENT AND ECONOMICS, Concentration in Management, Human Resources, Finance and Economics program established through an agreement with Empire State College, (ESC).
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" data-bs-target="#faqsThree-5" type="button" data-bs-toggle="collapse">
                                    Do you provide virtual teaching?
                                </button>
                            </h2>
                            <div id="faqsThree-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                                <div class="accordion-body">
                                    At the moment we only offer classes in the classroom and blended learning modalities.
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div><!-- End F.A.Q Group 3 -->

        </div>

    </div>
</section>