@{
	ViewData["Title"] = "Home Page";
}

<div class="pagetitle">
	<h1>Teacher's Table</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item">Teacher</li>
		</ol>
	</nav>
</div><!-- End Page Title -->

<section class="section">
	<div class="row">
		<div class="col-12">
			<div class="card overflow-auto">
				<div class="card-body">
					<h5 class="card-title">Teacher</h5>
					<table class="table datatable">
						<thead>
							<tr>
								<th scope="col">No.</th>
								<th scope="col">Name</th>
								<th scope="col">Position</th>
								<th scope="col">Assignment</th>
								<th scope="col">Start Date</th>
								<th scope="col">Details</th>
							</tr>
						</thead>
						<tbody>
							<tr data-index="0">
								<td>1</td>
								<td>Brandon Jacob</td>
								<td>Designer</td>
								<td>Accounting</td>
								<td>2016-05-25</td>
								<td>
									<a class="btn btn-info" href="/Teachers/Detail"><i class="bi bi-info-circle"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>