@model Universidad.Models.Asignatura

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Asignatura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAsignatura" />
            <div class="form-group">
                <label asp-for="IdDepartamento" class="control-label"></label>
                <input asp-for="IdDepartamento" class="form-control" />
                <span asp-validation-for="IdDepartamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProfesor" class="control-label"></label>
                <input asp-for="IdProfesor" class="form-control" />
                <span asp-validation-for="IdProfesor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCurso" class="control-label"></label>
                <select asp-for="IdCurso" class="form-control" asp-items="ViewBag.IdCurso"></select>
                <span asp-validation-for="IdCurso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creditos" class="control-label"></label>
                <input asp-for="Creditos" class="form-control" />
                <span asp-validation-for="Creditos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreRequisitos" class="control-label"></label>
                <input asp-for="PreRequisitos" class="form-control" />
                <span asp-validation-for="PreRequisitos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modalidad" class="control-label"></label>
                <input asp-for="Modalidad" class="form-control" />
                <span asp-validation-for="Modalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Metodo" class="control-label"></label>
                <input asp-for="Metodo" class="form-control" />
                <span asp-validation-for="Metodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
